.line-break {
    border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
    .line-break {
        border-bottom: none;
        border-right: 1px solid black;
        height: 20px;
    }
}