@use "../abstracts/variables" as v;

body {
    position: relative;
}

.line-break {
    border-bottom: 1px solid black;
}

.hero-image {
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 20px;
        height: 405px;
        margin-bottom: 45px;
}

input {
    height: 40px;
    border: none;
}

textarea {
    height: 80px;
    border: none;
    margin-bottom: 30px;
}

.send-button {
    width: 130px;
    border: 0;
    background-color: v.$blue;
    text-align: center;
    color: white;
    border-radius: 25px;
    align-self: center;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .line-break {
        border-bottom: none;
        border-right: 1px solid black;
        height: 20px;
    }
}