@use "../abstracts/variables" as v;

footer {
    background-color: v.$blue;
    padding-bottom: 70px;
    .grid-con {
        margin: 0;
        grid-column: 2/3;
    }
}

#footer-logo, #footer-links, #footer-newsletter {
    text-align: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-logo {
    margin-top: 40px;
    margin-bottom: 50px;
    svg {
        max-height: 50px;
    }
}

#footer-links {
    margin-bottom: 50px;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        padding-right: 15%;
        padding-left: 15%;
        text-align: center;
        a {
            color: white;
        }
    }
}

#sm-newsletter {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    #newsletter-title {
        text-align: left;
        font-size: 15px;
        color: white;
        font-weight: 400;
    }
    #bottom-foundation {
        font-weight: 700;
    }
    p {
        margin-bottom: 30px;
        font-weight: bold;
    }
}

#sm-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#footer-links li:not(:last-of-type) {
    margin-bottom: 15px;
}

.newsletter-sign-up {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    #email {
        margin-top: 15px;
        border: none;
        font-size: 20px;
        width: 70%;
    }
    #newsletter-send {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 15px;
        width: 20%;
        border: 0;
        border-radius: 20px;
        background-color: v.$dark-green;
        align-self: flex-end;
        margin-left: 10%;
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #footer-logo {
        margin-top: 0;
        margin-bottom: 0;
    }

    #footer-links {
        margin-bottom: 0;
        li {
            padding-right: 11%;
            padding-left: 11%;
        }
    }

    #sm-icons {
        order: 1;
        margin-bottom: 0;
    }

    #sm-newsletter {
        #newsletter-title {
            font-size: 12px;
        }
        p {
            margin-bottom: 10px;
            font-weight: bold;
        }
    }

    .newsletter-sign-up {
        margin-bottom: 15px;
        #email {
            border: none;
            margin-top: 0;
            font-size: 20px;
            width: 73%;
        }
        #newsletter-send {
            width: 25%;
            margin-left: 2%;
            margin-top: 0;
            background-color: v.$dark-green;
        }
    }
}
