@use "../abstracts/variables" as v;

header {
    background-color: transparent;
    position: sticky;
    top: 0;
    margin-top: 20px;
}

#header-con {
    grid-column: 2/3;
    margin: 0;
}

#header-logo {
    text-align: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    svg {
        max-width: 60%;
    }
}

#donate-button {
    text-align: center;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: v.$blue;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hamburger-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger-menu {
    max-height: 32px;
    cursor: pointer;
}

#nav-menu {
    display: none;
    align-content: center;
    p:not(.line-break) {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: right;
    }
    z-index: 10;
    position: absolute;
    top: 100px;
    right: 0;
    width: 150px;
}

.drop-menu {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
        text-decoration: underline;
    }
}

#explore-menu {
    position: absolute;
    background-color: v.$blue;
    top: 90px;
    left: 40%;
    display: none;
    flex-direction: column;
    border-radius: 20px;
    a {
        margin: 20px;
        color: white;
    }
}


@media screen and (min-width: 768px) {
    #hamburger-menu-icon {
        display: none!important;
    }

    #header-logo, #hamburger-menu-icon, #nav-menu {
        order: -1;
    }

    #nav-menu {
        display: flex!important;
        position: static;
        justify-content: space-evenly;
        width: 100%;
        p {
            flex-direction: row;
            align-self: center;
            text-align: center;
        }
    }

    #get-help-menu, #get-involved-menu, #about-menu {
        .line-break {
            border-bottom: 1px solid black;
            border-right: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    .donate-text {
        font-size: 20px;
    }

    #explore-menu {
        a {
            margin: 30px;
        }
    }
}

@media screen and (min-width: 1920px) {
    #explore-menu {
        a {
            margin: 40px;
        }
    }
}