header {
    background-color: pink;
    height: 100px;
    position: sticky;
    top: 0;
}

#header-con {
    grid-column: 2/3;
    margin: 0;
}

#header-logo {
    background-color: orange;
    text-align: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#donate-button {
    background-color: orange;
    text-align: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hamburger-menu-icon {
    display: flex;
}

#hamburger-menu {
    cursor: pointer;
}

#nav-menu {
    background-color: orange;
    display: none;
    align-content: center;
    p:not(.line-break) {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: right;
    }
    z-index: 10;
    position: absolute;
    top: 100px;
    right: 0;
    width: 150px;
}

.drop-menu {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #hamburger-menu {
        display: none!important;
    }

    #header-logo, #hamburger-menu-icon, #nav-menu {
        order: -1;
    }

    #nav-menu {
        display: flex!important;
        position: static;
        justify-content: space-evenly;
        width: 100%;
        p {
            flex-direction: row;
            align-self: center;
            text-align: center;
        }
    }
}