@use "../abstracts/variables" as v;

a, p {
    color: v.$white;
}

a {
    text-decoration: none;
    transition: all ease-in-out 0.5s;
    font-size: 20px;
    &:visited {
        color: v.$white;
        text-decoration: underline;
    }
}