@use "../abstracts/variables" as v;

#cv-hero {
    background-color: v.$sky-blue;
}

#cv-text, #build-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    .custom-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#cv-image, #build-image {
    height: 318px;
    background-color: v.$sky-blue;
    border-radius: 20px;
}

#cv-build {
    background-color: v.$green;
}

#build-text {
    margin-top: 30px;
}

#build-image {
    margin-bottom: 30px;
}

#cv-rewards {
    background-color: v.$sky-blue;
}

#sv-opportunities {
    display: flex;
    flex-direction: column;
}

#volunteer-opportunities {
    margin-top: 30px;
    margin-bottom: 20px;
}

.cv-box-title {
    font-size: 18px;
    background-color: v.$blue;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.c-box-listing, .v-box-listing {
    background-color: v.$green;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    &:last-of-type {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.reference-number {
    font-size: 14px;
    margin-bottom: 0;
    text-align: left;
}

.v-event-title {
    font-size: 14px;
}

#disclaimer {
    margin-top: 40px;
    h3 {
        font-size: 15px;
    }
}

#cv-form-text {
    margin-bottom: 20px;
}

#cv-form {
    text-align: center;
    margin-bottom: 30px;
    #cv-contact {
        background-color: v.$green;
        padding-bottom: 10px;
        grid-column: 2/3;
    }
    h3 {
        margin-bottom: 20px;
    }
}

#cv-page-form {
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#cv-send {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    #cv-text, #build-text {
        justify-content: center;
        align-items: flex-start;
        h3 {
            font-size: 30px;
        }
        .custom-button {
            margin-top: 30px;
            align-self: flex-start;
        }
    }

    #cv-image, #build-image {
        height: 330px;
    }

    #cv-build {
        padding-top: 40px;
    }

    #build-image {
        order: -1;
    }

    #cv-rewards {
        background-color: transparent;
    }

    #cv-rewards-con {
        background-color: v.$sky-blue;
    }

    #opportunities-title {
        h3 {
            text-align: center;
        }
    }

    #volunteer-opportunities, #career-opportunities {
        margin-top: 40px;
    }

    .cv-box-title {
        text-align: center;
    }

    #disclaimer {
        h3 {
            font-size: 20px;
            text-align: center;
        }
    }

    #cv-form {
        #cv-contact {
            background-color: transparent;
        }

        #cv-form-t {
            border-radius: 20px;
            background-color: v.$green;
            padding-left: 8.25%;
            padding-right: 8.25%;
        }
    }

    #cv-send {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    #cv-image, #build-image {
        height: 525px;
    }

    .cv-box-title {
        font-size: 25px;
    }

    .reference-number, .v-event-title {
        font-size: 22px;
    }
}

@media screen and (min-width: 1920px) {
    #cv-image, #build-image {
        height: 625px;
    }

    .cv-box-title {
        font-size: 30px;
    }

    .reference-number, .v-event-title {
        font-size: 28px;
    }
}