@use "../abstracts/variables" as v;

#home-hero {
    background-color: v.$sky-blue;
    color: white;
    text-align: center;
    .hero-text {
        line-height: 40px;
    }
}

#home-con {
    margin: 0;
    grid-column: 2/3;
}

#home-hero-supplementary-text {
    display: none;
    p {
        color: white;
    }
}

#waw-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-bottom: 25px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
}

#waw-image {
    margin-top: 30px;
    height: 252px;
    background-image: url(../images/dummy.jpg);
    background-position: center;
    background-size: cover;
}

#home-facts {
    background-color: v.$green;
}

#fact-wrapper {
    margin: 0;
    grid-column: 2/3;
    h3 {
        margin-top: 40px;
    }
}

#facts-text {
    p {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
    }
}

#home-instructions {
    font-weight: 600;
}

.fact-box, .fiction-box {
    height: 235px;
    margin-bottom: 30px;
}

.fiction-title, .fact-title {
    font-weight: 600;
    font-size: 25px;
    padding-top: 30px;
    margin-left: 3%;
    margin-bottom: 10px;
}

.fiction-text, .fact-text {
    margin-left: 3%;
}

.ff-div {
    background-color: v.$sky-blue;
    border-radius: 20px;
    .fact-box {
        display: none;
    }

    &:hover {
        .fact-box {
            display: flex;
        }

        .fiction-box {
            display: none;
        }
    }
}

#home-video {
    background-color: v.$green;
    height: 220px;
}

#mental-illness-con {
    background-color: v.$green;
}

#mi-wrapper {
    margin: 0;
    grid-column: 2/3;
}

#mi-text {
    padding-top: 40px;
    padding-bottom: 40px;
    p {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.mental-health-info {
    height: 290px;
    background-color: v.$sky-blue;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.5);
    h3 {
        padding-top: 30px;
        color: white;
    }
}

.home-link, .mi-link {
    transition: all 0.5s ease-in-out;
    &:hover {
        text-decoration: none;
    }
}

.home-redirect {
    height: 290px;
    border-radius: 20px;
    background-color: v.$sky-blue;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 50%;
    }
    h3 {
        color: white;
    }
}

#donate-redirect {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    #home-hero {
        .hero-image {
            align-content: flex-end;
        }
    }

    #home-hero-supplementary-text {
        display: block;
        padding-bottom: 40px;
    }

    #waw-text {
        justify-content: center;
    }

    #waw-image {
        margin-top: 0;
        height: 270px;
    }

    #facts-text {
        h3 {
            text-align: center;
        }
    }

    #fact-con {
        display: flex;
        justify-content: space-around;
    }

    .ff-div {
        width: 30%;
        max-width: 100%;
        height: 180px;
        margin-bottom: 40px;
    }

    #blog-redirect {
        margin-bottom: 0;
    }

    .fiction-title, .fact-title {
        font-size: 12px;
        margin-left: 5%;
    }
    
    .fiction-text, .fact-text {
        margin-left: 5%;
    }

    #home-video {
        height: 350px;
    }

    #mi-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mental-health-cards {
        display: flex;
        justify-content: space-around;
        a {
            width: 30%;
        }
    }

    .mental-health-info {
        height: 200px;
        h3 {
            text-align: center;
            font-size: 15px;
        }
    }

    #home-services-text {
        h3 {
            text-align: center;
            margin-bottom: 50px;
        }
    }
}

@media screen and (min-width: 1200px) {
    #home-hero {
        .hero-text {
            padding-bottom: 15px;
            line-height: 60px;
        }
    }

    #home-hero-supplementary-text {
        padding-bottom: 70px;
    }

    #waw-image {
        height: 408px;
    }

    .ff-div {
        height: 300px;
        margin-bottom: 100px;
    }

    .fiction-title, .fact-title {
        font-size: 25px;
    }

    #home-video {
        height: 500px;
    }

    .mental-health-info {
        height: 310px;
        h3 {
            font-size: 25px;
        }
    }
}

@media screen and (min-width: 1920px) {
    #home-hero {
        .hero-text {
            padding-bottom: 40px;
            line-height: 70px;
        }
    }

    #home-hero-supplementary-text {
        padding-bottom: 100px;
    }

    #waw-image {
        height: 780px;
    }

    .ff-div {
        height: 480px;
        margin-bottom: 150px;
    }

    .fiction-title, .fact-title {
        font-size: 30px;
    }

    #home-video {
        height: 800px;
    }

    .mental-health-info {
        height: 500px;
        h3 {
            font-size: 36px;
        }
    }
}