@use "../abstracts/variables" as v;

#network-hero {
    background-image: url(../images/hero-images/network.jpg);
    background-repeat: no-repeat;
    background-position: 0 20%;
    background-size: cover;
    position: relative;
}

#connect-why li, #network-goals li {
    list-style-type: disc;
    margin-left: 5%;
}

#connect-why li::marker, #network-goals li::marker {
    color: v.$green;
    fill: v.$green;
}

.bold-text {
    font-weight: 600;
}

#get-connected {
    a {
        transition: all ease-in-out 0.5s;
        color: v.$green;
        &:hover {
            opacity: 70%;
        }
    }
}

#our-network, #connect-why, #network-goals-con, #get-connected-con {
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    p:not(:last-of-type) {
        margin-bottom: 20px;
    }

    ul {
        margin-bottom: 20px;
    }
}